In [4]:
import pandas as pd
import numpy as np

In [9]:
banjo = pd.read_csv('C:/Users/bchavis1/Downloads/BanjoPlayers.csv')
banjo

,ID,Name,BanjoPlayer,Band
0,20,Taylor Rice,No,The Local Natives
1,12,Earl Scruggs,Yes,Foggy Mountain Boys
2,14,Geoff Rickley,No,Thursday
3,2,Samuel Beam,Yes,Iron and Wine
4,13,Adam Lazarra,No,Taking Back Sunday
5,11,Ralph Stanley,Yes,The Stanley Brothers
6,5,Chris Luedecke,Yes,Old Man Luedecke
7,4,Alex Ebert,No,Edwarde Sharpe and the Magnetic Zeros
8,19,William Elliott Whitmore,Yes,William Elliott Whitmore
9,18,Bobby Earl Davis,Yes,The Earl Brothers
10,16,Bela Fleck,Yes,Bela Fleck and the Flecktones
11,7,Justin Vernon,No,Bon Iver
12,6,Kristian Matsson,Yes,The Tallest Man on Earth
13,9,Jack Antonoff,No,Fun.
14,17,Ketch Secor,No,Old Crow Medicine Show
15,3,Nate Ruess,No,Fun.
16,10,Critter Fuqua,No,Old Crow Medicine Show
17,1,Sufjan Stevens,Yes,Sufjan Stevens
18,8,Scott Avett,Yes,The Avett Brothers
19,15,Willie Watson,Yes,Old Crow Medicine Show

In [10]:
banjo.sample(10, replace = False)

,ID,Name,BanjoPlayer,Band
14,17,Ketch Secor,No,Old Crow Medicine Show
17,1,Sufjan Stevens,Yes,Sufjan Stevens
1,12,Earl Scruggs,Yes,Foggy Mountain Boys
19,15,Willie Watson,Yes,Old Crow Medicine Show
0,20,Taylor Rice,No,The Local Natives
7,4,Alex Ebert,No,Edwarde Sharpe and the Magnetic Zeros
5,11,Ralph Stanley,Yes,The Stanley Brothers
9,18,Bobby Earl Davis,Yes,The Earl Brothers
8,19,William Elliott Whitmore,Yes,William Elliott Whitmore
16,10,Critter Fuqua,No,Old Crow Medicine Show

In [11]:
sample1 = banjo.sample(10, replace = False)
sample1

    ID              Name BanjoPlayer                                   Band
17   1    Sufjan Stevens         Yes                         Sufjan Stevens
6    5    Chris Luedecke         Yes                       Old Man Luedecke
3    2       Samuel Beam         Yes                          Iron and Wine
12   6  Kristian Matsson         Yes               The Tallest Man on Earth
1   12      Earl Scruggs         Yes                    Foggy Mountain Boys
0   20       Taylor Rice          No                      The Local Natives
19  15     Willie Watson         Yes                 Old Crow Medicine Show
7    4        Alex Ebert          No  Edwarde Sharpe and the Magnetic Zeros
2   14     Geoff Rickley          No                               Thursday
15   3        Nate Ruess          No                                   Fun.

In [17]:
np.random.seed(123)
banjo.sample(10, replace = False)

,ID,Name,BanjoPlayer,Band
14,17,Ketch Secor,No,Old Crow Medicine Show
5,11,Ralph Stanley,Yes,The Stanley Brothers
4,13,Adam Lazarra,No,Taking Back Sunday
17,1,Sufjan Stevens,Yes,Sufjan Stevens
8,19,William Elliott Whitmore,Yes,William Elliott Whitmore
7,4,Alex Ebert,No,Edwarde Sharpe and the Magnetic Zeros
19,15,Willie Watson,Yes,Old Crow Medicine Show
12,6,Kristian Matsson,Yes,The Tallest Man on Earth
0,20,Taylor Rice,No,The Local Natives
15,3,Nate Ruess,No,Fun.